body {
    background-color: white;
    font-family: Verdana, sans-serif;
    margin: 40px;
  }
  
  mi-componente {
    display: block;
    margin: 20px auto;
    text-align: center;
  }
  h2 {
    color: white;
  }
  